<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.baseu.mapper.RechargeMapper">
    
    <select id="findByOrderNo" resultType="com.zero.baseu.entity.Recharge">
        SELECT * FROM tb_recharge WHERE order_no = #{orderNo}
    </select>
    
    <select id="selectUserRechargeList" resultType="com.zero.baseu.entity.Recharge">
        SELECT * FROM tb_recharge 
        WHERE user_id = #{userId}
        <if test="status != null">
            AND status = #{status}
        </if>
        ORDER BY create_time DESC
    </select>
    
</mapper>

